.cart {

  .cart-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 50vh;

    @media only screen and (max-width : 480px) {
      min-height: 75vh;
    }

    .products {
      display: flex;
      flex-direction: column;
      margin-top: 20px;

      .product {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        border-top: 1px solid #C2C2C2;
        text-align: center;

        @media only screen and (max-width : 768px) {
          flex-direction: column;
        }

        .delete {
          @media only screen and (max-width : 768px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
  
          .delete-button {          
            width: 32px;
            height: 32px;
            padding: 5px;
          }
        }

        .product-image {
          width: 20%;
          display: flex;
          flex-direction: row;
          align-items: center;

          @media only screen and (max-width : 768px) {
            width: 50%;
            margin: 5px 0;
          }

          img {
            width: 100%;
            border-radius: 5px;
          }
        }

        .product-name {
          display: flex;
          flex-wrap: wrap;
          width: 25%;
          margin: 0;
          color: #343a40;
          text-decoration: none;

          @media only screen and (max-width : 768px) {
            margin: 5px 0;
            width: 100%;
            justify-content: center;
            font-size: 18px;
          }
        }

        .product-name:hover {
          color: #1B95E0;
          cursor: pointer;
        }

        .product-amount {
          width: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;

          @media only screen and (max-width : 768px) {
            margin: 5px 0;
            width: 100%;
            justify-content: center;
          }

          .amount-button {
            width: 32px;
            height: 32px;
            line-height: 1.2;
          }

          .amount-input {
            width: 40px;
            text-align: center;
            border-radius: 5px;
            border: 0;
            margin: 0 5px;
            color: #343a40;
            height: 28px;
          }

          .amount-input {
            -moz-appearance:textfield;
          }
          
          .amount-input::-webkit-outer-spin-button,
          .amount-input::-webkit-inner-spin-button {
            -webkit-appearance: none;
          }
        }

        .product-price {
          width: 120px;
          margin: 0;
          text-align: right;

          @media only screen and (max-width : 768px) {
            margin: 5px 0;
            text-align: center;
            width: 100%;
          }
        }
      }

      .product:last-child {
        border-bottom: 1px solid #C2C2C2;
      }
    }

    .total-price {
      box-sizing: border-box;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 15px 0 20px;

      @media only screen and (max-width : 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .cart-button{
      margin-top: 20px;
      width: 160px;
      font-weight: 700;
      color: white;
      text-decoration: none;
      padding: 13px 12px;
      border-radius: 3px;
      background: rgb(27, 149, 224);
      box-shadow: 0 -3px rgb(19, 104, 156) inset;
      transition: 0.1s;
      outline: none;
      cursor: pointer;
      border : none;
    }
    
    .cart-button:active {
      background: rgb(19, 104, 156);
      box-shadow: 0 3px rgb(19, 104, 156) inset;
    }

    .empty-cart-lable {
      margin: 0;
    }
  }
}