.product-wrapper .product{
    text-align: center;
}

.product-wrapper .product-info{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding-top: 50px;
    /* padding : 0 100px; */
}

.product-wrapper .product-image{
    margin-right: 70px;
}

.product-info img{
    width: 400px;
}

.product-info .product-main-info{
    display: flex;
    flex-direction : column;
    margin-top : 20px;
}

.product-info .product-title{
    white-space: nowrap;
    font-size: 54px;
}

.product-info .product-characteristics{
    display: flex;
    flex-direction : row;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.product-characteristics .options{
    font-weight: bold;
}

.product-characteristics .value{
    margin-left : 20%;
    text-align: right;
}

.product-characteristics .characteristics-item{
    margin-top: 5px;
}

  .product-info .product-buy button{
      margin-right: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
    }

.product-info .product-buy button:hover { background: rgb(53, 167, 110); }
.product-info .product-buy button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.product-info .product-buy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}



.product-info .product-buy .product-price{
    /* margin-top: 50px; */
    text-align: center;
    font-size: 34px;
}

.products-carousel{
    margin: 50px 0;
    padding: 0 20px;
}