.product-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;

    @media only screen and (max-width : 1024px) {
        margin: 15px 0;
    }

    .product-image {
        border-radius: 5px;
        overflow: hidden;
        width: 100%;
    }
    
    .product-price {
        padding: 2px 0 5px;
        font-size: 16px;
        font-weight: bold;
    }

    .product-button {
        width: 120px;
    }
}