footer{
    display: flex;
    
    flex: 0 0 auto;
    align-items: center;
    height: 100px;
    color: black;
    background-color: #EEEEEE;
}

footer .footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}

footer img{
    width: 50px;
    filter: grayscale(100%);
    transition: 0.3s;
}
footer img:hover{
    filter: grayscale(0);
}

footer a{
    color: #acacac;
}
footer a:hover{
    text-decoration: underline;
}